@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />

@using System.Security.Claims
@model Portfolio.Models.Post

<h2>Admin Login</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name!</p>
    @(Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-default" value="Log out" />
    }
    <h2>Display Create Post form with Ajax</h2>
    <h4 class="display-view">CLICK ME</h4>
    <div id="result4"></div>

}
else
{
    <p>@Html.ActionLink("Register", "Register")</p>
    <p>@Html.ActionLink("Log in", "Login")</p>
}

<script type="text/javascript">
	$(document).ready(function() {
	    $('.display-view').click(function () {
            $.ajax({
	            type: 'GET',
	            url: '@Url.Action("Create", "Post")',
	            success: function(result) {
                    $('#result4').html(result);
	            }
	        });
	    });
	});
</script>