@model Portfolio.Models.Post

<html>
<head>
    <title>Blog Post - Edit</title>
</head>
<body>
    <h2>Edit</h2>
    <hr />
    <h4>Edit this post: @Html.DisplayFor(model => model.Body)</h4>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.Id)

        @Html.LabelFor(model => model.Title)
        @Html.EditorFor(model => model.Title)

        @Html.LabelFor(model => model.Body)
        @Html.EditorFor(model => model.Body)

        <input type="submit" value="Save" />
    }
    <p>@Html.ActionLink("Back to list", "Index")</p>

</body>
</html>
